<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
    <link rel='stylesheet' href='/stylesheets/header.css' />
    <link rel='stylesheet' href='/stylesheets/cards.css' />

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  </head>
  <body>
    <!-- Simple header with scrollable tabs. -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <!-- Title -->
          <a id="comalmot" href="/"><span class="mdl-layout-title">컴알못</span></a>
          <p id="accountName"><% if(login_ok) {%>
            <%= login_id %>
          <% } %></p>
        </div>
        <!-- Tabs -->
        <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
          <a href="#scroll-tab-1" class="mdl-layout__tab is-active">CPU</a>
          <a href="#scroll-tab-2" class="mdl-layout__tab">RAM</a>
          <a href="#scroll-tab-3" class="mdl-layout__tab">메인보드</a>
          <a href="#scroll-tab-4" class="mdl-layout__tab">VGA</a>
          <a href="#scroll-tab-5" class="mdl-layout__tab">SSD</a>
          <a href="#scroll-tab-6" class="mdl-layout__tab">HDD</a>
        </div>
      </header>
      <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">목록</span>
        <nav class="mdl-navigation">
          <% if(login_ok) {%>
            <a class="mdl-navigation__link" href="/logout">Logout</a>
          <% } else{ %>
              <a class="mdl-navigation__link" href="#" onclick="dim(true, 'login');">Login</a>
          <% } %>
         <a class="mdl-navigation__link" href="#" onclick="dim(true, 'addProduct')">제품 추가</a>
         <a class="mdl-navigation__link" href="#" onclick="dim(true, 'addInformation')">정보 추가</a>
         <a class="mdl-navigation__link" href="#">Link</a>
       </nav>
      </div>
      <%- include login.ejs %>
      <%- include signIn.ejs %>
      <%- include addProduct.ejs %>
      <%- include addInformation.ejs %>
      <main class="mdl-layout__content">
        <!-- <button onclick="dim();">Dim</button> -->
        <div id="dimmer" onclick="dim(false);"></div>
        <section class="mdl-layout__tab-panel is-active" id="scroll-tab-1">
          <div class="page-content"><%- include cpu.ejs %></div>
        </section>
        <section class="mdl-layout__tab-panel" id="scroll-tab-2">
          <div class="page-content"><%- include ram.ejs %></div>
        </section>
        <section class="mdl-layout__tab-panel" id="scroll-tab-3">
          <div class="page-content"><!-- Your content goes here --></div>
        </section>
        <section class="mdl-layout__tab-panel" id="scroll-tab-4">
          <div class="page-content"><!-- Your content goes here --></div>
        </section>
        <section class="mdl-layout__tab-panel" id="scroll-tab-5">
          <div class="page-content"><!-- Your content goes here --></div>
        </section>
        <section class="mdl-layout__tab-panel" id="scroll-tab-6">
          <div class="page-content"><!-- Your content goes here --></div>
        </section>
      </main>
    </div>
    <script src='/javascripts/main.js' /></script>
  </body>
</html>
