<article id="ram">
  <table class="info">
    <tr>
      <th>
          <!-- Image card "ramWhat"-->
        <div class="demo-card-image mdl-card mdl-shadow--2dp" id="ramWhatImg">
          <div class="mdl-card__title mdl-card--expand"></div>
          <div class="mdl-card__actions">
            <span class="demo-card-image__filename">RAM이란?</span>
          </div>
        </div>
        <!-- <button onclick="dim();">Dim</button> -->
      </th>
      <th>
        <!-- Image card "ramPoint"-->
        <div class="demo-card-image mdl-card mdl-shadow--2dp" id="ramPointImg">
          <div class="mdl-card__title mdl-card--expand"></div>
          <div class="mdl-card__actions">
            <span class="demo-card-image__filename">주요 포인트!</span>
          </div>
        </div>
      </th>
    </tr>
  </table>
<!-- <button onclick="dim();">Dim</button> -->
<div id="dimmer" onclick="dim(false);"></div>
<!-- Square card -->
<hr>
<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">이름</th>
      <th class="mdl-data-table__cell--non-numeric">제조사</th>
      <th class="mdl-data-table__cell--non-numeric">메모리 용량</th>
      <th class="mdl-data-table__cell--non-numeric">제품 분류</th>
      <th class="mdl-data-table__cell--non-numeric">동작 속도</th>
    </tr>
  </thead>
  <tbody>
    <% for(var i = 0 ; i < ramList.length ; i++) {%>
      <tr>
        <td class="mdl-data-table__cell--non-numeric"><%= ramList[i].name %></td>
        <td class="mdl-data-table__cell--non-numeric"><%= ramList[i].company %></td>
        <td class="mdl-data-table__cell--non-numeric"><%= ramList[i].details.capacity %></td>
        <td class="mdl-data-table__cell--non-numeric"><%= ramList[i].details.classify %></td>
        <td class="mdl-data-table__cell--non-numeric"><%= ramList[i].details.speed %></td>
      </tr>
    <% } %>
  </tbody>
</table>
<hr><br>


<div class="demo-card-square mdl-card mdl-shadow--2dp" id='ramWhatInfo' style="overflow:scroll; height:70%;">
    <div class="mdl-card__supporting-text" >
      <% for(var i=0; i<informationsList.length; i++) {%>
        <% if(informationsList[i].name=="ramWhat") { %>
          <h3><%= informationsList[i].title %></h3>
          <p><%= informationsList[i].contents %></p>
        <% } %>
      <% } %>
    </div>
</div>


<div class="demo-card-square mdl-card mdl-shadow--2dp" id='ramPointInfo' style="overflow:scroll; height:70%;">
  <!-- <div id="" style="overflow:scroll; height:400px;"> -->
  <div class="mdl-card__supporting-text">
    <% for(var i=0; i<informationsList.length; i++) {%>
      <% if(informationsList[i].name=="ramPoint") { %>
        <h3><%= informationsList[i].title %></h3>
        <p><%= informationsList[i].contents %></p>
      <% } %>
    <% } %>
  </div>
</div>

</article>
